extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/todos.css')

block content
  .row
    .col-md-4.col-md-offset-4
      .row.header
        .col-md-9
          h1.heading #{user.name}'s todos
        .col-md-3
          a.logout.btn.btn-default Logout
      .action-bar
        a.show-done.btn.btn-xs.btn-default Show Done
        span.notice
      input.add-todo(type="text", placeholder="new todo")
      ul.todos.sortable.hide-done
        each todo in todos
          include todo

block javascripts
  script(src="/javascripts/todos.js")
