extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/todos.css')

block content
  .row
    .col-md-4.col-md-offset-4
      .row.header
        .col-xs-9
          h1.heading #{user.name}'s todos
        .col-xs-3
          a.logout.btn.btn-default Logout
      .action-bar
        a.show-done.action.btn.btn-xs.btn-default Done: Show
        //- span.action
        //-   i.fa.fa-toggle-down.fa-fw
        //-   | Sort:
        //-   a.sort-by.btn.btn-xs.btn-default Done
        span.notice
      input.add-todo.form-control(type="text", placeholder="new todo")
      ul.todos.sortable.hide-done
        each todo in todos
          include todo

block javascripts
  script(src="/javascripts/todos.js")
