
.action-bar {
  margin-bottom: 10px;
}

.header .btn {
  margin-top: 24px;
}

.notice {
  margin-left: 20px;
}

.todos {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.todos.hide-done .todo.done {
  display: none;
}

.todo {
  padding-left: 0;
  margin-left: 0;
}

.todo.done {
  text-decoration: line-through;
}

.todo .check {
  margin-left: 10px;
  position: relative;
  vertical-align: middle;
  bottom: 3px;
}

.todo .title,
.todo .title-input {
  margin-left: 10px;
}