
.action-bar {
  margin-bottom: 10px;
}

.header .btn {
  margin-top: 24px;
}

.add-todo {
  margin-bottom: 10px;
}

.notice {
  margin-left: 10px;
}

.todos {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.todos.hide-done .todo.done {
  display: none;
}

.todo {
  padding-left: 0;
  margin-left: 0;
}

.todo .title:hover,
.todo .remove:hover {
  cursor: pointer;
}

.todo.done {
  text-decoration: line-through;
}

.todo .remove {
  color: #999;
}

.todo .remove:hover {
  color: inherit;
}

.todo .check-container {
  margin-left: 10px;
}

.todo .check {
  position: relative;
  vertical-align: middle;
  bottom: 3px;
}

.todo .title,
.todo .title-input {
  display: inline-block;
  width: 87.5%;
  margin-left: 10px;
}
